$links-color: #0059c1;

@mixin header {
    font-size: 28px;
    margin: 9px 0 0;
}

@mixin button {
    display: inline-block;
    font-size: 12px;
    height: 29px;
    padding: 0 15px;
    line-height: 29px;
    text-decoration: none;
    color: #000;
    border: 1px solid #dce6e0;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 3px 0px rgba(171,171,171,0.2);
    -moz-box-shadow: 0 3px 3px 0px rgba(171,171,171,0.2);
    box-shadow: 0 3px 3px 0px rgba(171,171,171,0.2);
}
@mixin button_green {
    @include button;
    background: linear-gradient(to bottom, #9dffb3 0%, #70d487 100%);
}
@mixin button_grey {
    @include button;
    background: linear-gradient(to bottom, #fff 0%, #d2d2d2 100%);
}
@mixin input_rounded {
    box-sizing: border-box;
    line-height: 14px;
    font-size: 12px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
@mixin input {
    @include input_rounded();
    height: 24px;
    padding: 0 6px;
}