@import 'base';

.breadcrumbs {
    margin: 5px 0 0;
    padding: 0;
    list-style: none;
    line-height: 20px;
}
.breadcrumbs__item {
    display: inline-block;
    &::after {
        content: '\2192';
        position: relative;
        top: 3px;
        margin-left: -5px;
        padding: 0;
        font-size: 22px;
    }
}
.breadcrumbs__link {
    font-size: 13px;
    
    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $links-color;
    }
}