@import 'base';

.directory__header {
    @include header;
    margin-bottom: 20px;
}
.directory__table {
    float: left;
    width: 500px;
    margin-top: 45px;
    padding: 0;
    font-size: 12px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(171,171,171,0.2);
    -moz-box-shadow: 10px 10px 10px 0px rgba(171,171,171,0.2);
    box-shadow: 10px 10px 10px 0px rgba(171,171,171,0.2);
}
.directory__table-header {
    line-height: 0;
}
.directory__table-head-cell {
    position: relative;
    top: -19px;
    padding: 0 10px 0 0;
    white-space: nowrap;
    &:first-child {
        width: 100%;
        padding-left: 15px;
    }
}
.directory__anchor {
    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $links-color;
    }
}
.directory__table-body-row {
    line-height: 20px;
}
.directory__table-body-cell {
    border-bottom: 1px solid #ddd;
    padding: 13px 10px 15px 0;
    &:first-child {
        padding-left: 15px;
    }
    .directory__table-body-row:last-child & {
        border-bottom: none;
    }
}
.directory__table-head-cell,
.directory__table-body-cell {
    vertical-align: top;
    min-width: 66px;
    &:last-child {
        padding-right: 57px;
    }
}
.directory__filter {
    float: left;
    margin-left: 20px;
}
.directory__filter-header {
    font-size: 12px;
    line-height: 37px;
    padding: 8px 0 0 20px;
    margin: 0;
}
.directory__rounded-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 10px 50px;
}
.directory__input {
    @include input;
    width: 178px;
}
.directory__new-entry-button {
    @include button_green;
    &::before {
        content: '+';
        padding-right: 4px;
    }
}