@import 'base';

.directories__header {
    @include header;
}
.directories__list {
    padding: 0;
    list-style: none;
    line-height: 26px;
}
.directories__item {
    
}
.directories__link {
    font-size: 12px;
    
    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $links-color;
    }
}