@import 'base';

.entry__header {
    @include header;
    margin-bottom: 20px;
}
.entry__field {
    float: left;
    clear: both;
    padding-bottom: 15px;
}
.entry__field-label {
    display: inline-block;
    font-size: 12px;
    width: 160px;
}
.entry__button {
    @include button_grey;
}
.entry__submit {
    @include button_green;
}
.entry__button,
.entry__submit {
    margin-right: 10px;
}
.entry__input {
    @include input;
    &.ng-invalid {
        outline-color: red;
        border-color: red;
    }
}
.entry__input_type_number {
    width: 48px;
}
.entry__input_type_date {
    width: 108px;
}
.entry__textarea {
    @include input_rounded;
    padding: 6px;
}
.entry__select {
    @include input;
}
.entry__field-label_valign_top {
    vertical-align: top;
}
.entry__button-line {
    float: left;
    clear: both;
    margin-top: 15px;
}
.entry__date-icon {
    position: relative;
    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 100%;
        background: linear-gradient(to bottom, #fff 0%, #d2d2d2 100%);
        width: 22px;
        height: 22px;
        margin: 1px 0 0 -20px;
        border: 1px solid #a3a3a3;
        border-radius: 4px;
    }
    &::after {
        content: '';
        display: inline-block;
        position: relative;
        background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M19%203h-1V1h-2v2H8V1H6v2H5c-1.11%200-1.99.9-1.99%202L3%2019c0%201.1.89%202%202%202h14c1.1%200%202-.9%202-2V5c0-1.1-.9-2-2-2zm0%2016H5V8h14v11zM7%2010h5v5H7z%22%2F%3E%3C%2Fsvg%3E');
        width: 16px;
        height: 16px;
        background-position: 50% 50%;
        line-height: 24px;
        vertical-align: middle;
        margin-left: -24px;
    }
}