// bower:scss
// endbower
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import 'base';

body {
    font: 100% 'Open Sans', sans-serif;
    background: #eaf5ee;
    padding: 10px 20px;
    margin: 0;
}

.highlight {
    background: yellow;
}

@import 'directories';
@import 'directory';
@import 'entry';
@import 'breadcrumbs';
@import '../../bower_components/angular-native-datepicker/build/themes/default.css';
@import '../../bower_components/angular-native-datepicker/build/themes/default.date.css';