<ul class="breadcrumbs">
    <li class="breadcrumbs__item" data-ng-repeat="breadcrumb in breadcrumbs">
      <a href="#" class="breadcrumbs__link" data-ng-href="{{breadcrumb.url}}" data-ng-bind="breadcrumb.title"></a>
    </li>
</ul>