<div class="directories">
  <h1 class="directories__header">Справочники</h1>
  <ul class="directories__list">
    <li class="directories__item" data-ng-repeat="directory in directories">
      <a class="directories__link" data-ng-href="/#/directory/{{directory.id}}" data-ng-bind="directory.name"></a>
    </li>
  </ul>
</div>