<div class="directory">
  <h1 class="directory__header">{{directory.name}}</h1>
  <div class="directory__controls">
      <a href="#" data-ng-href="/#/directory/{{directory.id}}/entry/new" class="directory__new-entry-button">Создать новый</a>
  </div>
  <table class="directory__table" cellspacing="0" cellpadding="0">
    <thead class="directory__table-header">
        <tr class="directory__table-head-row">
          <th class="directory__table-head-cell" data-ng-repeat="field in directory.fields" data-ng-bind="field.name"></th>
        </tr>
    </thead>
    <tbody class="directory__table-body">
      <tr  class="directory__table-body-row" data-ng-repeat="item in directory.items | anyfield:filterMask:directory.fields">
        <td class="directory__table-body-cell" data-ng-repeat="field in directory.fields">
          <a class="directory__anchor" data-ng-href="{{getEntryUrl(item.id)}}" data-ng-if="$first" data-ng-bind-html="item | cell:field | highlight:filterMask:field.type"></a>
          <span data-ng-if="!$first" data-ng-bind-html="item | cell:field | highlight:filterMask:field.type"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="directory__filter">
    <h2 class="directory__filter-header">Фильтр</h2>
    <div class="directory__rounded-container">
      <input type="text" data-ng-model="filterMask" class="directory__input" placeholder="Поиск">
    </div>
  </div>
</div>