<div class="entry">
  <h1 class="entry__header" data-ng-bind="entry.items.name.value"></h1>
  <form data-ng-submit="save()" class="entry__form" novalidate>
    <label class="entry__field">
        <span class="entry__field-label">Наименование</span>
        <input class="entry__input entry__input_type_text" type="text" data-ng-model="entry.items.name.value">
    </label>
    <label class="entry__field">
        <span class="entry__field-label">Тяжесть</span>
        <input
            type="text"
            class="entry__input entry__input_type_number"
            data-ng-model="entry.items.weight.value"
            data-validate-by-type="{{entry.items.weight.type}}">
    </label>
    <label class="entry__field">
        <span class="entry__field-label">Балл</span>
        <input
            type="text"
            class="entry__input entry__input_type_number"
            data-ng-model="entry.items.point.value"
            data-validate-by-type="{{entry.items.point.type}}"
            data-format-by-type="entry.items.point.type">
    </label>
    <label class="entry__field">
        <span class="entry__field-label">Действует до</span>
        <span class="entry__date-icon">
            <input
                type="text"
                data-pick-a-date="date"
                data-pick-a-date-options="{ format: 'dd.mm.yyyy' }"
                class="entry__input entry__input_type_date"
                data-ng-model="entry.items.endDate.value">
        </span>
    </label>
    <label class="entry__field">
        <span class="entry__field-label entry__field-label_valign_top">Описание</span>
        <textarea class="entry__textarea" cols="30" rows="5" data-ng-model="entry.items.describe.value"></textarea>
    </label>
    <label class="entry__field">
        <span class="entry__field-label">Единицы измерения</span>
        <select  class="entry__select">
            <option data-ng-repeat="option in entry.items.units.values" data-ng-bind="option.name" data-ng-selected="option.selected" value="{{option.id}}">лала</option>
        </select>
    </label>
    <div class="entry__button-line">
      <input class="entry__submit" type="submit" value="Сохранить">
      <input type="button" class="entry__button" data-ng-click="reset()" value="Отменить изменения">
      <input type="button" class="entry__button" data-ng-click="remove()" value="Удалить">
    </div>
  </form>
</div>